
@{
    Layout = null;
}

index2
<h1>Merhaba</h1> @*En Büyük Punto max h6 var*@
<h2>Selam</h2>
<h3>Günaydın</h3>
<h4>Deneme</h4>
<br />          @*Boşluk*@
<div style="color: #ff0000" >Bu bir divdir</div>
<br />
<div style="color:#ff0000" > <a href="/Default/Index">Page 1</a> </div> 