
@{
    Layout = null;
}

Selamunaek
<br />
<a href="http://www.google.com">Google</a>
<br />
<a href="/Default/Index2">Page 2</a>
<br />
<br />
<label> Adınız : </label>
<input type="text" />
<br />
<br />
<label> Soyadınız : </label>
<input type="text" />
<br />
<br />
<label>Mail Adresiniz : </label>
<input type="email" />
<br />
<br />
<label>Doğum Tarihiniz : </label>
<input type="datetime" />