
@{
    ViewBag.Title = "Index4";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Index4</h2>
<br />
<a href="/Default/Index3" class="btn btn-success">İndex 3 sayfasına git</a>

